# Node dependencies
node_modules/

# Environment variables
.env
*.env.*
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Build output
dist/
build/
coverage/
jest-coverage/

# Temporary files
*.tmp
*.swp
*.swo

# Temporary scripts
scriptsTemp/

# SQLite database (if ever used)
*.sqlite
*.sqlite3

# PM2 process IDs (if used in production)
pids/

# Backup & patch files
*.bak
*.orig
*.rej

# Miscellaneous local config
*.local
